# fly.toml app configuration file generated for wuzapi-shy-river-5375 on 2025-12-26T16:32:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wuzapi-shy-river-5375'
primary_region = 'lhr' # London, should be syd

[build]

[http_service]
  internal_port = 9001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
